@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.
<input id="Operator-1" type="text" />
<input id="Operator-2" type="text" />
<input id="Calculate" type="button" value="Calculate" />
<select id="Select1" >
    <option> + </option>
    <option> - </option>
    <option> * </option>
    <option> / </option>
</select>
<textarea id="result" rows="2" cols="5"></textarea>